* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.weather {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("https://source.unsplash.com/1366x768/?weather");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.opc {
  background-color: #0000003a;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 15px;
}

.title{
  width: 100%;
  margin-top: 100px;
  text-align: center;
  font-size: 45px;
  color: blanchedalmond;
}

.day {
  width: 200px;
  height: 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  padding: 10px;
  color: #f5f5f5;
  margin-top: 10px;

  box-shadow: 0px 45px 75px -15px black;
  border-radius: 12px;
}

.day p{
  transition: 0.3s ease-in-out;
}

.temp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: end;
  font-size: 12px;
  transition: 0.3s ease-in-out;
}
#today {
  position: absolute;
  z-index: 3;
  top: 10px;
  right: 10px;
  box-shadow: 0px 45px 75px -15px #666;
}



#monday,
#tuesday,#wednesday, #thursday, #friday, #saturday {
  animation: gray-scale 8s infinite;
  transition: 3s ease-in-out;
  background-color: #000000ba;
}



.weather input {
  text-transform: capitalize;
  padding: 10px;
  border-radius: 12px;
  border: none;
  box-shadow: 0 0 0 3px  #999;
  margin-top: 40px;
  margin-left: 40px;
  outline: none;
  background: transparent;
  color: #fff;
  font-weight: 600;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40%;

}

.weather input:focus{
  outline: auto;
}

::placeholder{
  color: #fff;
  font-weight: 600;
}

.weather button {
  padding: 10px;
  border-radius: 12px;
  border: none;
  margin-top: 40px;
  margin-left: 40px;
  cursor: pointer;
  background-color: #fff;
  font-weight: 600;
  font-size: 17px;
  color: brown;
  transition: 0.3s ease-in-out;
  position: absolute;
  top: 10px;
  left: 250px;
}
.weather button:hover {
  color: #fff;
  background-color: transparent;
  box-shadow: 0 0 0 3px  #999;
}
#cityName {
  position: absolute;
  left: 20%;
  top: 17%;
  font-size: 40px;
  text-transform: capitalize;
  text-align: center;
  width: 60%;
  height: 20px;
}
